@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav {
  z-index: 10001 !important;
}

.gradientBg {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
}
